<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="Style/bootstrap.min.css">
<link rel="stylesheet" href="Style/cssForHtml.css">
<link rel="stylesheet" href="Style/StyleCss.css">
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/controller.js"></script>
<title>Currency Converter</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-6" id="mainDiv">
				<p>Currency Converter</p>
				<form class="form" >
					<b><font size="3px">Type in Amount
							and select Currency:</font> </b>
								<input type="number" id="inputBox"
							    class="form-control" placeholder="0.00"
								ng-model="price" ng-keyup="calculateMoney();"
								ng-pattern="/^\d+(\.\d{1,2})?$/"
								ng-keypress="RestrictSignKey();">
							<select id="selectOption" ng-model="fromCurrency" ng-change="calculateMoney();" class="form-control">
									<option ng-repeat="type in currencyList">{{type}}</option>
							</select>
					<b><font size="3px">Converted Amount:</font></b><br>
								<input type="text" id="inputBox" ng-model="equiprice" class="form-control" placeholder="0.00" readonly="readonly" >
								<select id="selectOption" ng-change="calculateMoney();" ng-model="toCurrency" class="form-control">
									<option ng-repeat="type in currency_List">{{type}}</option>
								</select>
					<font size="3px" style="margin-left: 200px"><a ng-href=""
						ng-click="updateCurrencyConvertRate();">Disclaimer*</a></font>
					<p ng-bind-html="currencyConvertRate" style="font-size: 10px"></p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
